/* CARD  */

.data_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 370px));
  grid-template-rows: repeat(3, minmax(200px, 1fr));

  gap: 20px;
}

.item {
  cursor: pointer;
  padding: 12px 14px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  font-size: 13px;
  font-weight: 600;

  z-index: 1;

  position: relative;

  transition: box-shadow 0.3s ease;

  background-position: 0 70px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.item:hover {
  transform: scale(1.02);
}

.c1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.c1_c1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;

  text-transform: capitalize;
}

.c2 {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.c2_modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  text-transform: capitalize;
}

.c2_c1 {
  display: inherit;

  justify-content: space-between;
}

.change_time_wrapper {
  display: flex;
  flex-direction: column;

  align-items: end;
}

/* pagination */

.pagination {
  position: relative;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: start;
  line-height: 1;
  font-size: 13px;

  gap: 15px;
}

.pagination li a {
  padding: 2px 5px;
}

.pagination li:hover {
  transform: scale(1.3);
}

.button {
  margin-left: 10px;
  cursor: pointer;

  background: transparent;

  border: none;

  color: white;
  font-size: 14px;
  font-weight: 600;
}

.button span {
  color: #ff7b00;
}

.button:hover {
  transform: scale(1.2);

  color: #ff7b00;
}

/* MODAL */

.values_wrapper {
  position: relative;
}

.modal_item {
  padding: 12px 14px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  flex: 1;

  font-size: 18px;

  font-weight: 600;

  z-index: 1;

  position: relative;
}

.edit_button {
  margin-left: 5px;

  font-size: 15px;

  cursor: pointer;
}

.price_wrapper,
.date_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ident_wrapper {
  position: relative;
}

.date_wrapper {
}
