/* TABLE */

.wrapper {
  margin-block: 1em;
  padding: 1rem;

  max-width: 100%;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;

  border: 1px solid rgba(17, 20, 25, 0.175);

  border-radius: 0.5em;
  background-color: #303641;
}

.table_outer {
  overflow: auto;

  max-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #50596a;
}

.table {
  overflow: auto;

  caption-side: bottom;
  border-collapse: collapse;
}

.table thead tr th {
  min-width: 80px;
  padding: 0.5rem 0.5rem;

  border-bottom: 1px solid #50596a;
}

.table tbody tr:nth-child(odd) {
  background-color: #3f4653;
}

.table tbody tr td {
  cursor: pointer;

  font-size: 14px;
  text-align: center;

  border-bottom: 1px solid #50596a;
  padding: 0.5rem 0.5rem;
}

/* MODAL */

.values_wrapper {
  position: relative;
}

.modal_item {
  padding: 12px 14px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  flex: 1;

  font-size: 18px;

  font-weight: 600;

  z-index: 1;

  position: relative;
}

.edit_button {
  margin-left: 5px;

  font-size: 15px;

  cursor: pointer;
}

.price_wrapper,
.date_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ident_wrapper {
  position: relative;
}
