/* TABLE */

.wrapper {
  margin-block: 1em;
  padding: 1rem;

  max-width: 100%;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;

  border: 1px solid rgba(17, 20, 25, 0.175);

  border-radius: 0.5em;
  background-color: #303641;
}

.table_outer {
  overflow: auto;

  max-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #50596a;
}

.table {
  overflow: auto;

  caption-side: bottom;
  border-collapse: collapse;
}

.table thead tr th {
  min-width: 80px;
  padding: 0.5rem 0.5rem;

  border-bottom: 1px solid #50596a;
}

.table tbody tr:nth-child(odd) {
  background-color: #3f4653;
}

.table tbody tr td {
  cursor: pointer;

  font-size: 14px;
  text-align: center;

  border-bottom: 1px solid #50596a;
  padding: 0.5rem 0.5rem;
}

/* MODAL */

.modal_item {
  position: relative;

  z-index: 9999;

  display: flex;
  justify-content: space-between;

  flex: 1;
}

.values_wrapper {
  position: relative;
}

.c1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c1_c1 {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 50px;
}

.c1_c2 {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}

.value_tile {
  max-width: 140px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: end;

  gap: 20px;
}

@media screen and (min-width: 1191.98px) {
  .value_tile {
    max-width: 100%;
  }
}

.reverse {
  align-items: start;
}

.tile_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copy_title {
  cursor: copy;

  width: 100%;

  overflow-wrap: break-word;
}

.copy_title:hover {
  color: var(--bs-primary);
}

.button {
  cursor: pointer;

  width: 20px;
  height: 20px;

  background: transparent;
  border: none;
}

.delete_button {
  cursor: pointer;

  width: 28px;
  height: 28px;

  background: transparent;
  border: none;
}

.button svg,
.delete_button svg {
  width: 100%;
  height: 100%;

  fill: var(--bs-danger);
}

.button:hover svg,
.delete_button:hover svg {
  transform: scale(1.1);
}

.edit_button {
  margin-left: 5px;

  font-size: 15px;

  cursor: pointer;
}

.ident_wrapper {
  position: relative;
}

.error_text {
  width: 100%;

  margin: 50px 0px 0px 20px;
  text-align: center;
  color: var(--bs-danger);
}
