.wrapper {
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 15px;
}

.tile {
  min-width: 200px;
  max-width: 100%;

  width: 100%;

  display: flex;
  justify-content: space-between;

  background: #303641;

  border-radius: 0.5em;
}

.tile_wrapper {
  width: 100%;
  padding: 1rem;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  align-items: end;

  gap: 20px;

  border-radius: 0.5em;
}

.tile_wrapper svg {
  color: var(--bs-primary);
  font-size: 2.25rem;
}

.tile_title_wrapper {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.tile_wrapper span {
  font-weight: 500;
  font-size: 24px;
  color: var(--bs-primary);
}

@media screen and (min-width: 767.98px) {
  .tile {
    max-width: calc(50% - 15px);
  }
}

@media screen and (min-width: 1191.98px) {
  .tile {
    max-width: calc(25% - 15px);
  }
  .wrapper {
    flex-wrap: nowrap;
  }
}
