.wrapper_list {
  max-height: 700px;

  overflow-y: auto;

  display: flex;

  flex-direction: column;

  gap: 20px;
}

.item,
.table_wrapper {
  max-width: 1200px;
  max-height: 150px;

  padding: 15px 25px;

  background: rgba(255, 255, 255, 0.2);

  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(12px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

  font-size: 14px;

  display: flex;
}

.user {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_info {
  display: flex;
  flex-direction: column;
}

.message {
  flex: 1;
  overflow-y: auto;
  word-break: break-word;

  margin-inline: 70px;
}

.table_wrapper {
  margin-bottom: 20px;

  font-weight: 700;

  display: flex;
  justify-content: space-between;
}

.table_user_info {
  display: flex;

  gap: 25px;
}
