.spiner_wrapp {
  position: absolute;

  top: 50%;
  left: 50%;
}

.content_wrapp {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secoundary_wrapper {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-self: flex-end;

  gap: 30px;
}

/* pagination */

.pagination {
  position: relative;

  cursor: pointer;

  display: flex;
  align-items: end;

  line-height: 1;
  font-size: 13px;

  gap: 15px;
}

.pagination li a {
  padding: 2px 5px;
}

.pagination li:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1192px) {
  .secoundary_wrapper {
    width: auto;
  }
}
