.history_bar {
  padding: 1em;

  width: 100%;
}

.history_list {
  display: flex;
  align-items: center;

  text-transform: capitalize;
}

.history_list li {
  display: flex;
  align-items: center;
}

.arrow_ico {
  display: inline-block;

  width: 22px;
  height: 22px;
}

.history_link_list {
  display: flex;
  align-items: center;

  gap: 8px;
}

.history_item {
  height: 24px;

  font-size: 13px;
}

.history_item a {
  margin-left: 8px;
}

.history_item svg {
  width: 20px;
  height: 20px;

  color: var(--bs-link-color);
}

.arrow_svg {
  width: 14px !important;
  height: 14px !important;
  color: rgb(149, 160, 177) !important;
}
