.wrapper {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  gap: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.column {
  padding-bottom: 20px;
  display: flex;

  gap: 50px;

  border-bottom: 1px solid rgb(228, 228, 228);
}

.col_1,
.col_2 {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.action_array {
  display: flex;

  flex-direction: column;

  gap: 20px;
}
