/* Base wrapper for all section  */

.action_wrapper {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  gap: 10px;
}

.wrapper {
  margin-block: 1em;
  padding: 1rem;

  max-width: 100%;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;

  border: 1px solid rgba(17, 20, 25, 0.175);

  border-radius: 0.5em;
  background-color: #303641;
}
