.css-er619e-MuiFormHelperText-root.Mui-error {
  color: red !important;
}

.css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: inherit !important ;
}

.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: inherit !important;
}

/* SELECT */

.MuiSelect-root {
  font-family: inherit !important;

  background-color: transparent;
  color: inherit !important;
  font-size: 14.5px !important;
}

.MuiOutlinedInput-input {
  padding: 0.5rem 2.25rem 0.5rem 0.75rem !important;
  background-color: #353c48 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #50596a !important;
  border-radius: 0.5em !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #91c4d7 !important;

  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(35, 137, 174, 0.25);
}

/* + Border */

/* .MuiOutlinedInput-notchedOutline {
  border-color: #dee2e6 !important;
} */

/* + Label */

.MuiInputLabel-root {
  font-family: "Inter" !important;

  font-size: 0.9rem !important;
  line-height: 1.5 !important;
  color: var(--bs-body-color) !important;
}

.MuiSvgIcon-root {
  width: 16px !important;
  fill: #6c757d !important;
}

.MuiInputLabel-root.Mui-focused {
  color: var(--dark) !important;
}

/* DATE */

.MuiPickersTextField-root .MuiInputLabel-root {
  color: var(--bs-body-color) !important;
}
