:root {
  --white: #fff;
  --nav-acive: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);

  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #111419;
  --bs-white: #ffffff;
  --bs-gray: #a5adbc;
  --bs-gray-dark: #d7dce5;
  --bs-gray-100: #20252e;
  --bs-gray-200: #353c48;
  --bs-gray-300: #495160;
  --bs-gray-400: #6a7384;
  --bs-gray-500: #868fa0;
  --bs-gray-600: #a5adbc;
  --bs-gray-700: #bec5d1;
  --bs-gray-800: #d7dce5;
  --bs-gray-900: #edf0f5;
  --bs-primary: #2389ae;
  --bs-secondary: #50596a;
  --bs-danger: rgb(218, 96, 68);
  --bs-success: #52bd48;
  --bs-info: #3eaad1;
  --bs-warning: #d79a38;
  --bs-light: #9dabbb;
  --bs-dark: #262b33;
  --bs-primary-rgb: 35, 137, 174;
  --bs-secondary-rgb: 80, 89, 106;
  --bs-danger-rgb: 218, 96, 68;
  --bs-success-rgb: 82, 189, 72;
  --bs-info-rgb: 62, 170, 209;
  --bs-warning-rgb: 215, 154, 56;
  --bs-light-rgb: 157, 171, 187;
  --bs-dark-rgb: 38, 43, 51;
  --bs-primary-text-emphasis: #0e3746;
  --bs-secondary-text-emphasis: #20242a;
  --bs-success-text-emphasis: #214c1d;
  --bs-info-text-emphasis: #194454;
  --bs-warning-text-emphasis: #563e16;
  --bs-danger-text-emphasis: #57261b;
  --bs-light-text-emphasis: #bec5d1;
  --bs-dark-text-emphasis: #bec5d1;
  --bs-primary-bg-subtle: #d3e7ef;
  --bs-secondary-bg-subtle: #dcdee1;
  --bs-success-bg-subtle: #dcf2da;
  --bs-info-bg-subtle: #d8eef6;
  --bs-warning-bg-subtle: #f7ebd7;
  --bs-danger-bg-subtle: #f8dfda;
  --bs-light-bg-subtle: #909297;
  --bs-dark-bg-subtle: #6a7384;
  --bs-primary-border-subtle: #a7d0df;
  --bs-secondary-border-subtle: #b9bdc3;
  --bs-success-border-subtle: #bae5b6;
  --bs-info-border-subtle: #b2dded;
  --bs-warning-border-subtle: #efd7af;
  --bs-danger-border-subtle: #f0bfb4;
  --bs-light-border-subtle: #353c48;
  --bs-dark-border-subtle: #868fa0;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 17, 20, 25;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #95a0b1;
  --bs-body-color-rgb: 149, 160, 177;
  --bs-body-bg: #353c48;
  --bs-body-bg-rgb: 53, 60, 72;
  --bs-emphasis-color: #111419;
  --bs-emphasis-color-rgb: 17, 20, 25;
  --bs-secondary-color: rgba(149, 160, 177, 0.75);
  --bs-secondary-color-rgb: 149, 160, 177;
  --bs-secondary-bg: #353c48;
  --bs-secondary-bg-rgb: 53, 60, 72;
  --bs-tertiary-color: rgba(149, 160, 177, 0.5);
  --bs-tertiary-color-rgb: 149, 160, 177;
  --bs-tertiary-bg: #20252e;
  --bs-tertiary-bg-rgb: 32, 37, 46;
  --bs-heading-color: inherit;
  --bs-link-color: #2389ae;
  --bs-link-color-rgb: 35, 137, 174;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #1c6e8b;
  --bs-link-hover-color-rgb: 28, 110, 139;
  --bs-code-color: #d63384;
  --bs-highlight-color: #95a0b1;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #50596a;
  --bs-border-color-translucent: rgba(17, 20, 25, 0.175);
  --bs-border-radius: 0.5rem;
  --bs-border-radius-sm: 0.3rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(17, 20, 25, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(17, 20, 25, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(17, 20, 25, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(17, 20, 25, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(35, 137, 174, 0.25);
  --bs-form-valid-color: #52bd48;
  --bs-form-valid-border-color: #52bd48;
  --bs-form-invalid-color: #da6044;
  --bs-form-invalid-border-color: #da6044;

  --pastel-red: #fd3c3d;
}
