.MuiSelect-root {
  font-family: inherit !important;

  background-color: transparent;
  color: inherit !important;
  font-size: 14.5px !important;
}

.MuiOutlinedInput-input {
  padding: 0.5rem 2.25rem 0.5rem 0.75rem !important;
  background-color: #353c48 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #50596a !important;
  border-radius: 0.5em !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: #91c4d7 !important;

  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(35, 137, 174, 0.25);
}

.MuiSelect-icon {
  fill: var(--bs-body-color) !important;
}

.MuiFormControl-root {
}

.MuiInputLabel-root {
  top: -6px !important;

  color: inherit !important;
  font-size: 12px !important;
  font-weight: 400;
}
