.spiner_wrapp {
  position: absolute;

  top: 50%;
  left: 50%;
}

.content_wrapp {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons_wrapp {
  margin-bottom: 35px;
  display: flex;

  gap: 8px;
}

.tabs_button {
  padding: 8px 12px;

  cursor: pointer;

  max-width: 100%;

  background: transparent;

  border: none;

  font-size: 14px;

  border-radius: 6px;

  color: white;

  border: 1px solid #2389ae;

  border-radius: 0.5rem;
}

.tabs_button.activeTab {
  background: #2389ae;
  border-color: #2389ae;
}
