.spiner_wrapp {
  position: absolute;

  top: 50%;
  left: 50%;
}

.content_wrapp {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons_wrapp {
  box-sizing: border-box;

  overflow: auto;

  max-width: 100%;
  min-height: 30px;

  display: flex;
  flex-wrap: nowrap;

  gap: 8px;
}

.buttons_wrapp::-webkit-scrollbar {
  display: none;
}

.tabs_button {
  padding-inline: 12px;

  height: 34px;

  cursor: pointer;

  background: transparent;

  border: none;

  font-size: 13px;

  border-radius: 8px;

  text-wrap: nowrap;
  color: white;

  border: 1px solid #2389ae;

  border-radius: 0.5rem;
}

.tabs_button.activeTab {
  background: #2389ae;
  border-color: #2389ae;
}
