.overlay {
  z-index: 9999;
  position: absolute;

  top: 0;
  bottom: 0;

  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  z-index: 2;

  padding: 22px 18px;

  width: 90vw;
  height: 80vh;

  display: flex;
  flex-direction: column;

  transition: box-shadow 0.3s ease;

  background-position: 0 170px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;

  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

  border-radius: 8px;
}

.close-btn {
  width: 24px;
  background: transparent;
  border: none;

  align-self: flex-end;
}

@media screen and (min-width: 1191.98px) {
  .content {
    width: 60vw;
    height: 60vh;
  }
}
