.wrapper {
  max-height: 74vh;

  overflow-y: auto;

  display: flex;

  flex-wrap: wrap;

  gap: 40px;
}

.images_block {
  padding: 15px 25px;

  border-radius: 5px;

  border: 1px solid rgba(255, 255, 255, 0.8);
}

.image {
  object-fit: cover;
}
