.wrapper {
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

.images_block {
  width: 100%;
}

.images_block p {
  font-size: 14px;
  color: var(--white);
}

.image {
  width: 100%;
  object-fit: cover;
}

.action_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (min-width: 991px) {
  .wrapper {
    width: fit-content;
  }

  .images_block {
    width: 250px;
  }
}
