.wrapper {
  min-height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 1.5rem;

  margin: 0 0 0.5rem 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background: #303641;
}

.burger_button {
  cursor: pointer;

  padding-inline: 0.6em;
  padding-block: 0.4rem;

  display: flex;
  align-items: center;

  border-radius: var(--bs-border-radius-sm);

  background: transparent;

  border: 1px solid #3eaad1;
}

.burger_button:hover {
  background: #3eaad1;
}

.burger_button svg {
  color: #fff;
  font-size: 1.125rem !important;
}

.user_action {
  z-index: 2;
  position: relative;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  background: #3eaad1;
  border-radius: 50%;
}

.user_part {
  letter-spacing: 0.15em;
  font-weight: 500;
  color: #fff;
}

.overflow {
  padding-top: 15px;

  content: "";

  position: absolute;

  top: 45px;
  right: -10px;

  pointer-events: none;

  opacity: 0;
}

.action_tile {
  max-width: 160px;

  background: #353c48;

  border: 1px solid #50596a;
  border-radius: 8px;
}

.action_tile::before {
  z-index: -1;

  content: "";
  position: absolute;

  width: 12px;
  height: 12px;

  background: #50596a;

  top: 10px;
  right: 30px;

  transform: rotate(-45deg);
}

.action_wrapper {
  overflow: hidden;
}

.action_item {
  padding: 12px 14px;

  width: 120px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;

  gap: 10px;

  font-size: 14px;

  transition: background 0.2s ease-in;
}

.action_item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.action_item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}

.action_item:hover {
  background: #303641;
}

.user_action:hover .overflow {
  pointer-events: all;
  opacity: 1;
}
