.sidebar {
  overflow: hidden;

  width: 80px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  border-right: 1px solid rgba(0, 0, 0, 0.25);

  background: #353c48;

  transition: left 0.3s ease, width 0.3s ease;
}

.sidebarHover {
  width: 15% !important;
}

.app_brand {
  padding-inline: 1em;

  height: 70px;

  overflow: hidden;

  display: flex;

  align-items: center;
  background: #303641;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.sidebar_profile {
  display: flex;
  align-items: center;

  padding: 1rem;

  margin: 0 0 0.5rem 0;
}

.profile_info h6 {
  white-space: nowrap;
}

.avatar {
  margin-right: 1rem;

  width: 3rem;
  height: 3rem;

  border-radius: var(--bs-border-radius-lg);
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar_nav ul {
  display: flex;
  flex-direction: column;
}

.nav_item {
  padding-left: 30px;

  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  transition: all 0.03s ease-in-out;

  border-radius: 0 30px 30px 0;
}

.nav_item span {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 10px;

  white-space: nowrap !important;
}

.nav_item svg {
  min-width: 22px;
  height: 22px;
}

.nav_item:hover {
  color: #fff;
  background: #0c7fa8;
}

.nav_item.active {
  color: #fff;
  background: #0c7fa8;
}

.burger_button {
  display: none;
  cursor: pointer;

  padding-inline: 0.6em;
  padding-block: 0.4rem;

  align-items: center;

  border-radius: var(--bs-border-radius-sm);

  background: transparent;

  border: 1px solid #3eaad1;
}

.burger_button:hover {
  background: #3eaad1;
}

.burger_button svg {
  color: #fff;
  font-size: 1.125rem !important;
}

@media screen and (max-width: 991.98px) {
  .sidebar {
    z-index: 9999 !important;

    position: absolute !important;
    top: 0;
    bottom: 0;

    min-width: 0px !important;
  }

  .app_brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
  }

  .burger_button {
    display: block;
  }
}
