.avatar_picker_wrapper {
  cursor: pointer;

  margin-bottom: 8px;
  position: relative;

  gap: 12px;

  width: 100%;
  height: 160px;
}

.preview_avatar {
  width: 100%;
  height: 100%;
}

.custom_avatar_input {
  cursor: pointer;

  overflow: hidden;
  opacity: 0;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
}

.change_images {
  width: 100%;
  height: 100%;

  position: relative;

  cursor: pointer;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
}

.change_images svg {
  width: 42px;
  height: 42px;
}

.photo {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.content_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 437.98px) {
  .avatar_picker_wrapper {
    flex-wrap: nowrap;
    justify-content: start;
    flex-direction: column;

    gap: 24px;
  }

  .content_wrapper {
    align-items: start;
  }
}
