.one_page_module {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.main-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.main-content {
  height: calc(100vh - 80px);
  overflow: auto;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;

  -webkit-transition: padding-left 0.1s ease;
  transition: padding-left 0.1s ease;
}

.section {
  padding-inline: 1em;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.section_content {
  height: 100%;

  overflow: hidden;
}
