.one_page_module {
  overflow: hidden;

  width: 100vw;
  height: 100svh;

  display: flex;
  flex-direction: row;
}

.main-wrapper {
  overflow: auto;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;

  flex: 1;

  -webkit-transition: padding-left 0.1s ease;
  transition: padding-left 0.1s ease;
}

.section {
  overflow: auto;

  padding-inline: 1em;

  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}
