.one_page_module {
  overflow: hidden;
  width: 100vw;

  display: flex;
  flex-direction: row;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main-content {
  overflow: auto;

  height: 100%;

  display: flex;
  flex-direction: column;

  -webkit-transition: padding-left 0.1s ease;
  transition: padding-left 0.1s ease;
}

.section {
  padding-inline: 1em;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.section_content {
  height: 100%;

  overflow: hidden;
}
