.tile {
  padding: 30px 20px;
  max-width: 500px;

  background: rgba(255, 255, 255, 0.1);

  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(12px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}
