.form {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.form_content_wrapper {
  margin: 0 auto;

  width: 100%;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 40px;
}

.form_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 40px;

  gap: 15px;

  background: rgba(255, 255, 255, 0.2); /* прозорість */
  border-radius: 16px; /* закруглені кути */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* тінь */
  backdrop-filter: blur(5px); /* розмиття фону */
  -webkit-backdrop-filter: blur(5px); /* підтримка Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* світла рамка */

  padding: 20px 40px;

  color: rgba(255, 255, 255, 1);

  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  font-size: clamp(1.5rem, 1.2115rem + 1.2821vw, 2.75rem);
}

.wrapper {
  display: flex;

  flex-direction: row;

  flex-wrap: nowrap;

  gap: 30px;
}

.input_wrapper {
  position: relative;
}

.input {
  font-size: 1em;

  padding: 14px 20px;
  border: none;
}
