@import url("./styles/root.css");
@import url("./styles/button.css");
@import url("./styles/tab.css");
@import url("./styles/select.css");
@import url("./styles/muiSetup.css");

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  min-width: 100%;
  min-height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;

  font-family: "Inter";
  font-weight: 400;
  font-optical-sizing: auto;

  width: 100vw;
  height: 100vh;

  background-color: #353c48;
  color: var(--bs-body-color);
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;
}

input {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;

  border-color: inherit;
  color: inherit;
}

em {
  font-style: normal;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  display: inline-block;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;

  color: var(--bs-heading-color);
}

h5 {
  color: inherit;
  font-size: 1.125rem;
}

.footer {
  padding: 0 1.5rem 1rem 1.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  font-size: 0.8em;
}

/* MUI DATE */

/* .MuiFormLabel-root,
.MuiPickersInputBase-root {
  max-height: 49.5px;

  font-size: 13px !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.MuiPickersOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: rgba(255, 255, 255, 0.8) !important;
}

.MuiSvgIcon-root {
  width: 18px !important;
  color: white !important;
}

.css-1ckov0h-MuiSvgIcon-root {
  color: black !important;
} */

/* Ширина скролу */
::-webkit-scrollbar {
  scrollbar-width: thin; /* або none */
  scrollbar-color: var(--bs-gray-400) transparent;
}

/* Трек (фон) */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Повзунок */
::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray-400);
  border-radius: 8px;
}

/* При ховері */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-gray-500);
}
