.put_module {
  position: absolute;

  top: 30px;
  left: 30px;

  display: flex;

  gap: 20px;
}

.module_bottom {
  left: -160px;
  bottom: -12px;
}

.module_input {
  background: rgba(255, 255, 255, 0.2);

  max-width: 250px;

  padding: 8px 40px 8px 18px;

  border: 1px solid white;
  border-radius: 6px;

  color: inherit;
}

.module_input:focus {
  border-color: white;
  color: white;
}

.module_input:focus::placeholder {
  color: white;
}

.module_input::placeholder {
  color: white;
}

.action_wrapper {
  position: absolute;

  top: 50%;
  right: 10px;

  transform: translateY(-43%);

  display: flex;

  align-items: center;
}

.module_button {
  cursor: pointer;
  background: transparent;

  border: none;
  font-size: 18px;
  color: var(--bs-warning);
}

.close_button {
  cursor: pointer;

  background: transparent;
  border: none;

  font-size: 28px;
  color: var(--bs-danger);
}

.module_button:hover,
.close_button:hover {
  transform: scale(1.1);
}
