.wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  background: url(/img/sidebar-bg.svg) no-repeat;

  background-size: 100%;
  min-width: 50vw;
  max-width: 50vw;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  z-index: -2;
}

.form_wrapper {
  margin-top: 110px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  border-radius: 10px;
  padding: 20px;

  max-width: 360px;
  width: 100%;

  background: #303641;
  position: relative;

  z-index: 10;

  animation: fadeShow 0.4s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeShow {
  0% {
    opacity: 0.7;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.input_wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;

  gap: 15px;
}

.form_content_wrapper {
  width: 100%;
}

.action_wrapper {
  display: flex;

  flex-direction: column;

  gap: 8px;
}

.title {
  margin-bottom: 1.5rem;

  font-size: 22px;
  font-weight: 600;

  text-align: left;
}

@media screen and (min-width: 767.98px) {
  .wrapper::before {
    content: "";
    position: absolute;

    left: 30px;
    bottom: 20px;

    background: url(/img/login.svg) no-repeat;

    background-size: 100%;

    width: 300px;
    height: 290px;

    z-index: -1;
  }
}
